<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <title>Home</title>
</head>
<body>
    <h1><a href="/">File Uploader</a></h1>

    <p> This website helps you upload one or multiple files and get a link to share it with the person you want.<br>
    The links are only available for a period of 7 days.</p>
    
    <div class="center">

    <form class="upload" method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
    </div>


</body>

</html>
